{{ $image1 := resources.Get "media/slider/JuJak.png" }}
{{ $image2 := resources.Get "media/slider/JuJak.png" }}
{{ $image3 := resources.Get "media/slider/JuJak.png" }}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="slider-container">
        <div class="slide">
          <img src="{{ $image1.Permalink }}" alt="첫 번째 슬라이드">
        </div>
        <div class="slide">
          <img src="{{ $image2.Permalink }}" alt="두 번째 슬라이드">
        </div>
        <div class="slide">
          <img src="{{ $image3.Permalink }}" alt="세 번째 슬라이드">
        </div>
        {{/* 버튼에 id를 부여합니다. */}}
        <a class="prev" id="prevBtn">&#10094;</a>
        <a class="next" id="nextBtn">&#10095;</a>
      </div>
    </div>
  </div>
</div>