<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="slider-container">
        <div class="slide">
          <img src="/media/slider/JuJak.png" alt="첫 번째 슬라이드">
        </div>
        <div class="slide">
          <img src="/media/slider/JuJak.png" alt="두 번째 슬라이드">
        </div>
        <div class="slide">
          <img src="/media/slider/JuJak.png" alt="세 번째 슬라이드">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
    </div>
  </div>
</div>


