{{ $image1 := resources.Get "media/slider/JuJak.png" }}
{{ $image2 := resources.Get "media/slider/JuJak.png" }}
{{ $image3 := resources.Get "media/slider/JuJak.png" }}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="slider-container">
        <div class="slide"><img src="{{ $image1.Permalink }}" alt="슬라이드 1"></div>
        <div class="slide"><img src="{{ $image2.Permalink }}" alt="슬라이드 2"></div>
        <div class="slide"><img src="{{ $image3.Permalink }}" alt="슬라이드 3"></div>
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
      </div>
    </div>
  </div>
</div>